*{
    font-size: 62.5%;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    
    font-size: 2rem;
    /* La medida REM ha cambaido a 10px */
    /* 1rem = 10px | 3.4rem = 34px */
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}
.product-card{
    width: 240px;
}
.product-card img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}
.product-info figure{
    margin: 0;
}
.product-info figure img{
    width: 40px;
    height: 40px;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--very-lightl-pink);
}
.product-info div p:nth-child(2){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-text{
    font-size: var(--lg);
}

@media (max-width: 640px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;
    }
    .product-card{
        width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
    }
}